<app-header></app-header>
<div class="container back" style="margin-top:100px;margin-left:400px;" >
     
     

      
  <div class="col-md-5 back" >
  
    <form (ngSubmit)="editProduct()">


        
      <div class="form-outline mb-4">
          <label for="Name of Book">Book Name</label>
        <input type="text"  name="fname"  [(ngModel)]="books.bookname" #fname="ngModel" required class="form-control form-control-lg"
           />
          
      </div>

      
      <div class="form-outline mb-3">
          <label for="Name of Book">Author Name</label>
        <input type="text"  name="Description"  [(ngModel)]="books.authorname" #email="ngModel" required class="form-control form-control-lg"
          />
         
      </div>

     



      <div class="form-outline mb-3">
          <label for="Name of Book">Genre</label>
          <input type="text"  [(ngModel)]="books.genre"  name="pnum" #pnum="ngModel" required    class="form-control form-control-lg"
           />
           
        </div>

       

        

        <div class="form-outline mb-3">
          <label for="Name of Book">Availability</label>
          <input type="text"  [(ngModel)]="books.availability" name="password" #password="ngModel" required minlength="6" class="form-control form-control-lg"
            />
           
        </div>

        
      
     

      <div class="d-flex justify-content-between align-items-center">
       
      </div>

      <div class="text-center text-lg-start mt-4 pt-2">
        <button type="submit" value="submit"  class="btn btn-primary btn-lg"
          style="padding-left: 2.5rem; padding-right: 2.5rem;">submit</button>
        
      </div>

    </form>
  </div>
  

  </div>
